.fa-trash
{
    margin-right: 8px;
    cursor: pointer;
}
.fa-pencil
{
    cursor: pointer;
}
.fa:hover
{
    color:blue;
}

.fa-file
{
    color: blue;
    margin-right: 8px;
}
.fa-plus-circle
{
    color : blue;
   font-size: 30px;
    cursor: pointer;
}

.fa-times:hover
{
   font-size: 40px;
    color : red;
    cursor: pointer;
}


 .btn-sm:hover
{

    cursor: pointer;
}
#head
{
    color: blue;
    font-size: x-large;
    font-family: Carlito;
}